@import url('https://fonts.googleapis.com/css?family=Gugi');

.Board {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gugi', cursive;
    font-weight: bold;
    background: linear-gradient(to right, rgb(16, 94, 70), rgb(30, 81, 129))
}

.Header {
    font-size: 1.5rem;
    color: rgb(19, 28, 70);
}
hr {
    width: 100%;
    background-color: rgb(26, 26, 121);
    border: 2px solid #000;
    margin: 2em;
}
.CardList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 2em
}
