@import url('https://fonts.googleapis.com/css?family=Gugi');

.Board {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gugi', cursive;
    font-weight: bold;
    background: linear-gradient(to right, rgb(94, 191, 247), rgb(61, 122, 179))
}

.Header {
    font-size: 1.5rem;
}
.CardList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px 2em
}
